.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > button {
  width: 30rem;
  padding: 10px;
  background-color: #2e81f4;
  font-size: 1.4rem;
  color: #eff2f5;
  font-weight: 800;
}

.login > button:hover {
  background-color: #fff;
  color: #2e81f4;
  border: 1px solid #2e81f4;
  padding: 9px;
}

.login > div > img {
  object-fit: contain;
  height: 15rem;
}
.login > div {
  display: flex;
  flex-direction: column;
}
